body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.img-box {
    background-image: url('blood-12.jpg');
    background-size: cover;
    background-position: center;
    height: 70%;
}

.form-wrap {
    padding: 40px;
}

.text-right span {
    font-size: 14px;
    margin-right: 5px;
}

.text-center h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-center h6 {
    font-size: 15px;
    margin-bottom: 32px;
}

.form-group label {
    font-weight: bold;
}

.btn-primary, .btn-outline-primary {
    font-weight: bold;
}

.btn-primary {
    border-radius: 0.5ch;
}

@media (max-width: 768px) {
    .img-box {
        display: none;
    }
}
