nav {
    background-color: red;}
    
  img {
    width: 150px; height: 150px;
  }
  
  .navbar {
    background-color: red;
  }
  
  
  .navimg{
    width: 12%;
    height: 12%;
  }
  
  
  
  
  
  
  
  
  
  
  
  