.w3-sidebar .w3-bar-item, .w3-sidebar .w3-bar-item a {
    padding: 15px; /* Adjust padding */
    font-size: 18px; /* Increase font size */
}
.w3-sidebar .w3-bar-item i {
    margin-right: 10px; /* Increase gap between icon and text */
}
.w3-sidebar .w3-bar-item:hover {
    background-color: transparent !important; /* Remove background color on hover */
    color: #0000b3 !important; /* Set font color to blue on hover */
}
.logout-button {
    color: white; /* Set text color to white */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.logout-button:hover {
    background-color: #990000 !important; /* Maintain background color on hover */
}
.logout-button i {
    margin-right: 10px; /* Ensure the icon margin stays the same */
}
.profile-section {
    padding: 20px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}
.profile-section h2 {
    margin-top: 0;
}
.profile-section input,
.profile-section select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.profile-section .form-group {
    margin-bottom: 15px;
}
.css-card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    transition: transform 0.3s;
}
.css-card:hover {
    transform: scale(1.05);
}
.small-readonly {
    width: auto;
    display: inline-block;
}
.change-password {
    white-space: nowrap; /* Prevent text wrapping */
}