.logout-button {
    color: white; /* Set text color to white */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.logout-button:hover {
    background-color: #990000 !important; /* Maintain background color on hover */
}
.logout-button i {
    margin-right: 10px; /* Ensure the icon margin stays the same */
}

.css-card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    transition: transform 0.3s;
}
.css-card:hover {
    transform: scale(1.05);
}
.small-readonly {
    width: auto;
    display: inline-block;
}
.change-password {
    white-space: nowrap; /* Prevent text wrapping */
}

.styled-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}

.styled-text {
    font-size: 1rem;
    color: #555;
}
