
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    line-height: 1.5;
  }
  
  /*left side content*/
  .Function{
    float: left;
    width: 20%;
    background-color: rgb(131,26,26);
    padding: 30px;
    color:white;
  }
 
  /*right side content*/
  article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    text-align: justify; 
  }
  
/*block properties*/
.column {
  float: left;
  width: 40%;
  margin-bottom: 16px;
  padding: 2% 5%;  
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

/*whole content*/
section::after {
  content: "";
  display: table;
  clear: both;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

  @media (max-width: 650px) {
    .column,section,.Function, article {
      width: 100%;
      height: auto;
      display: block;
    }
  }